.image-actionizer-container {
  position: relative;
}

.image-actionizer-container svg {
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}

.image-actionizer-container img {
  width: 100%;
}
